In [16]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [17]:
# 1. Create a DataFrame for the Presedential Election data. 
file_to_open = "Resources\pres_election.csv"
pres_elec_df = pd.read_csv(file_to_open, encoding="ISO-8859-1")

In [18]:
pres_elec_df.head

<bound method NDFrame.head of         voter_id_org           city  party  birth_date    zip g_11_03_2020  \
0             704844    SEVEN HILLS  NOPTY        1959  44131            t
1            1658758          PARMA    REP        1968  44130            t
2            2005536  BROADVIEW HTS    REP        1976  44147            t
3            2465762          SOLON  NOPTY        1991  44139            f
4             710633   INDEPENDENCE    REP        1968  44131            t
...              ...            ...    ...         ...    ...          ...
873946        689381      PARMA HTS    DEM        1958  44130            t
873947        823935   STRONGSVILLE    REP        1946  44149            t
873948        749942         EUCLID    DEM        1927  44132            t
873949        276903         EUCLID  NOPTY        1944  44132            f
873950       3017222    SEVEN HILLS  NOPTY        1975  44131            f

       g_11_08_2016 g_11_06_2012 g_11_04_2008
0                 t            t            t
1                 t            t            t
2                 t            t            t
3                 f            t            f
4                 t            t            t
...             ...          ...          ...
873946            t            t            t
873947            t            t            t
873948            t            t            t
873949            f            t            t
873950            f            f            f

[873951 rows x 9 columns]>

In [19]:
pres_elec_df.shape

(873951, 9)

In [20]:
#Column Datatypes
pres_elec_df.dtypes

voter_id_org     int64
city            object
party           object
birth_date       int64
zip              int64
g_11_03_2020    object
g_11_08_2016    object
g_11_06_2012    object
g_11_04_2008    object
dtype: object

In [21]:
#Replace True and False Values with 0 and 1
pres_elec_df.replace(('f', 't'), (0, 1), inplace=True)

In [22]:
pres_elec_df.head()

,voter_id_org,city,party,birth_date,zip,g_11_03_2020,g_11_08_2016,g_11_06_2012,g_11_04_2008
0,704844,SEVEN HILLS,NOPTY,1959,44131,1,1,1,1
1,1658758,PARMA,REP,1968,44130,1,1,1,1
2,2005536,BROADVIEW HTS,REP,1976,44147,1,1,1,1
3,2465762,SOLON,NOPTY,1991,44139,0,0,1,0
4,710633,INDEPENDENCE,REP,1968,44131,1,1,1,1

In [23]:
# Set voter_id_org column as index
pres_elec_df = pres_elec_df.set_index('voter_id_org')
pres_elec_df.head()

,city,party,birth_date,zip,g_11_03_2020,g_11_08_2016,g_11_06_2012,g_11_04_2008
voter_id_org,,,,,,,,
704844,SEVEN HILLS,NOPTY,1959,44131,1,1,1,1
1658758,PARMA,REP,1968,44130,1,1,1,1
2005536,BROADVIEW HTS,REP,1976,44147,1,1,1,1
2465762,SOLON,NOPTY,1991,44139,0,0,1,0
710633,INDEPENDENCE,REP,1968,44131,1,1,1,1

In [ ]:
# Assign data to x and y

In [ ]:
# Split the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [ ]:
classifier.fit(X_train, y_train)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")